@model List<IndexProjectViewModel>

@{
    ViewBag.Title = "Index";
}



@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample-datatables').DataTable();
        });
    </script>
}

<h2>All Projects</h2>
<hr />
<a class="btn btn-primary" href="@Url.Action("AddProject", "Projects")">Add New Project</a>
<hr />

@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>There are no Projects</strong></p>
    </div>
}
else
{
    <table id="sample-datatables" class="table table-striped">
        <thead>
            <tr>
                <th>Project Title</th>
                <th>Brief</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <td>@record.Topic</td>
                    <td>@record.Brief</td>
                    <td>
                        <a href="@Url.Action("EditProject", "Projects", new { id = record.Id })">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

